/* CSS crunched with Crunch - http://crunchapp.net/ */
body{margin:0px auto;width:960px;background:#fffcc4;}body #contenedor{text-align:center;}body #contenedor .logo{position:relative;display:block;}
body #contenedor #logoblack{margin-left:260px;}
body #contenedor #logowhite{display:none;margin-left:0px;}
body #contenedor #products{margin-left:0px;}
body #contenedor #loading{display:none;margin-left:0px;}
body #contenedor .winner{padding:20px 15px;font-size:27px;}
body #contenedor input[type="button"]{padding:10px 15px;background:#ef2a24;margin:10px 20px;border-radius:10px;border:2px solid black;font-size:17px;}
body #contenedor input[type="text"]{padding:10px 15px;margin-left:25px;border-radius:10px;border:2px solid black;font-size:19px;}
